.product{
    flex:4;
    background-color:  #f6fff5;
}
.styled-table{
    border-collapse: collapse;
    margin: auto;
    font-size: 20px;
    max-width: 800px;
    -webkit-box-shadow: -9px -2px 22px -3px rgba(0,0,0,0.83);
    -moz-box-shadow: -9px -2px 22px -3px rgba(0,0,0,0.83);
    box-shadow: -9px -2px 22px -3px rgba(0,0,0,0.83);
}
.styled-table thead tr{
    background-color: #776f64;
    color: #18130c;
    
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #5ae758
}

.styled-table tbody tr:nth-of-type(even){
    background-color: rgb(225, 227, 219);
}


.btn{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align:  center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit{
    background-color: blue;
}
.btn-delete{
    background-color: #cc2525;
}
.btn-view{
    background-color: bisque;
    color: black;
}
.table{
    margin-top: 50px;
}