.chart{
    margin: 30px;
    padding: 40px;
    background-color: #ada79b;
    border-radius: 30px;
    -webkit-box-shadow: -9px -2px 22px -3px rgba(0,0,0,0.83);
    -moz-box-shadow: -9px -2px 22px -3px rgba(0,0,0,0.83);
    box-shadow: -9px -2px 22px -3px rgba(0,0,0,0.83);
}
.chartTitle{
    margin-bottom: 20px;
    background-color: #ada79b;
}
.container1{
    background-color: #ada79b;
}
