.login-container {
    width: 50%;
    margin: 10rem auto;    
}
.login{
    background-image: url("../assets/flat-design-abstract-background-soft-liquid-shapes-template-with-modern-gradient-background-colors-cool-aesthetic-background-design-suitable-for-social-media-post-mobile-app-banner-web-ads-fr.webp");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
 
  }
  
